<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/e7629d8c19.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="#">
                <span class="red">pix</span><span class="white">flick</span><span class="red">.</span>
            </a>
        </div>

        <nav class="nav">
            <a href="#">Home</a>
            <a href="#">Movies</a>

            <div id="guest">
                <a href="#">Register</a>
                <a class="log" href="#">Login</a>
            </div>

            <div id="user">
                <a href="#">Add Movie</a>
                <a class="log" href="#">Logout</a>
            </div>
        </nav>
    </header>

    <main>
        <div id="hero-image">
            <div id="banner-text">
                <h1>Dive into the cinema universe</h1>
                <!-- <p>Order your favorite dish and dive into a culinary adventure!</p> -->

                <div id="btns">
                    <a href="#">Catalog</a>
                    <a href="#">Join us</a>
                </div>
            </div>
        </div>

        <div id="latest-movies">
            <div class="heading">
                <h1>Latest movies</h1>
            </div>

            <div class="films">
                <div class="film-card">
                    <div class="film-img">
                        <img src="https://m.media-amazon.com/images/M/MV5BOTZmMmY2MzctMjU2Yy00YjJlLTk1NjAtY2U4MmMxOWZkZWY4XkEyXkFqcGdeQXVyMjM4NTM5NDY@._V1_.jpg" alt="the-hunger-games">
                    </div>

                    <div class="film-info">
                        <h3>The Hunger Games: The Ballad of Songbirds and Snakes</h3>
                        <p>Year: 2023</p>
                        <p>Genre: Adventure Fiction</p>
                        <a href="#">Details</a>
                    </div>
                </div>

                <div class="film-card">
                    <div class="film-img">
                        <img src="https://m.media-amazon.com/images/M/MV5BZjZkNThjNTMtOGU0Ni00ZDliLThmNGUtZmMxNWQ3YzAxZTQ1XkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_FMjpg_UX1000_.jpg" alt="the-boy-and-the-heron">
                    </div>

                    <div class="film-info">
                        <h3>The Boy and the Heron</h3>
                        <p>Year: 2023</p>
                        <p>Genre: Anime</p>
                        <a href="#">Details</a>
                    </div>
                </div>

                <div class="film-card">
                    <div class="film-img">
                        <img src="https://artfiles.alphacoders.com/157/157576.jpg" alt="the-nun-II">
                    </div>

                    <div class="film-info">
                        <h3>The Nun II</h3>
                        <p>Year: 2023</p>
                        <p>Genre: Horror</p>
                        <a href="#">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>