<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/e7629d8c19.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="#">
                <span class="red">pix</span><span class="white">flick</span><span class="red">.</span>
            </a>
        </div>

        <nav class="nav">
            <a href="#">Home</a>
            <a href="#">Movies</a>

            <div id="guest">
                <a href="#">Register</a>
                <a class="log" href="#">Login</a>
            </div>

            <div id="user">
                <a href="#">Add Movie</a>
                <a href="#">Profile</a>
                <a class="log" href="#">Logout</a>
            </div>
        </nav>
    </header>

    <main>
        <section id="login-section">
            <form id="login">
                <h1>Log in to your account</h1>

                <div id="wrapper">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="example@email.com">

                    <label for="login-pass">Password:</label>
                    <input type="password" id="login-password" name="password" placeholder="**********">

                    <input type="submit" class="submit-btn" value="Login">

                    <p>Don't have a profile? <a href="#">Join us</a></p>
                </div>
            </form>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-logo">
            <a href="#">
                <span class="red">pix</span><span class="white">flick</span><span class="red">.</span>
            </a>
        </div>

        <div class="footer-social">
            <a href="https://bg-bg.facebook.com/" target="_blank">
                <i class="fa-brands fa-facebook-f"><span>Facebook</span></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram"><span>Instagram</span></i>
            </a>
            <a href="https://twitter.com/?lang=bg" target="_blank">
                <i class="fa-brands fa-x-twitter"></i><span>Twitter</span></i>
            </a>
        </div>

        <div class="footer-copyright">
            <p>&copy; pixflick - 2024 | All rights reserved.</p>
        </div>
    </footer>
</body>

</html>