.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000000;
    padding: 20px;
}

.footer-logo > a { 
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
}

.footer-social {
    display: flex;
    gap: 20px;
}

.footer-social > a {
    color: #ffffff;
    text-decoration: none;
}

.footer-social > a:hover {
    color: #E50914;
    transition: all 0.2s ease-in-out;
}

.footer-social > a > i > span {
    font-family: "Century Gothic", sans-serif;
    padding-left: 10px;
}

.footer-copyright {
    color: #ffffff;
}