.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000000;
    padding: 20px;
}

.logo > a { 
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
}

.red {
    color: #E50914;
}

.white {
    color: white;
}

.social {
    display: flex;
    gap: 20px;
}

.social > a {
    color: #ffffff;
    text-decoration: none;
}

.social > a:hover {
    color: #E50914;
    transition: all 0.2s ease-in-out;
}

.social > a > i > span {
    font-family: "Century Gothic", sans-serif;
    padding-left: 10px;
}

.copyright {
    color: #ffffff;
} 

@media screen and (max-width: 1024px) {
    .footer {
        flex-direction: column;
    }

    .social {
        flex-direction: column;
        text-align: center;
        gap: 5px;
        margin: 25px 0;
    }

    .copyright {
        text-align: center;
    }
}